<h1>Welcome <b>@ViewBag.user</b></h1>

<div style="min-height:30vh;">
    <div class="mt-10" style="display:flex;justify-content:center;align-items:center;flex-direction:row">
        <button style="margin:0px 10px" class="w-20 btn btn-primary btn-lg" onclick="location.href='@Url.Action("viewmylaptops", "sellerdash", new { })'"><b>View My Laptops</b></button>
    </div>
</div>