<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Thank you for ordering. We hope you had a good experience.</h1>
    <p class="lead">Order Placed successfully ✔</p>
    <hr class="my-4">
</div>
<pre></pre>
<a asp-controller="login" asp-action="index">Go to Home Page</a>